<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="tttFirebase.css">
  <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro|Montserrat' rel='stylesheet' type='text/css'>
  <script src="angular.min.js"></script>
  <!-- Firebase -->
<script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
<!-- AngularFire -->
<script src="https://cdn.firebase.com/libs/angularfire/0.9.2/angularfire.min.js"></script>
  <script src="tttFirebase.js"></script>
  <title>T/T/T</title>
</head>
<body ng-app="ticTacApp" ng-controller="ticTacCtrl">
<h1>Tic  |  Tac  |  Toe</h1>
<div id="main">
    <div id="container">
        <div class="square" 
          ng-repeat="box in board" ng-click="makeChoice($index)" ng-bind="box.choice">
        </div>
      </div>
    <div id="playerScore">X:{{counter.p1WinTotal}}</div>  
</div>
</div>

</body>
</html>